* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('/src/images/restaurant.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  color: #e2dfd2;
}
/* Header & Nav */
header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.5;
  color: #e2dfd2;
  text-align: center;
  font-size: 2.5em;
  padding: 0.5em;
  font-family: 'Tangerine', cursive, fantasy;
}
nav {
  display: flex;
  width: 100%;
  background-color: #000000;
  opacity: 0.5;
  color: #e2dfd2;
  text-align: center;
  padding: 0.2em;
}
.nav-button {
  flex: 1;
  justify-content: space-between;
  padding: 0.1em;
  margin: 0.1em;
  background-color: #000000;
  color: #e2dfd2;
  font-size: 1.2em;
  outline: none;
  border: none;
  font-family: 'Castoro Titling', cursive, fantasy;
}
.nav-button:hover {
  text-decoration: underline;
}

/* Home */
div.home {
  width: 80%;
  margin: 0 auto;
  margin-top: 5em;
  padding: 1em;
  background-color: transparent;
}
div.home h2 {
  font-size: 2.5em;
  line-height: 2;
  font-family: 'Tangerine', cursive, fantasy;
}
div.home p {
  font-size: 1rem;
  line-height: 2;
  font-family: 'Castoro Titling', cursive, fantasy;
}
/* Menu */
div.menu {
  width: 70%;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em;
  background-color: transparent;
}
div.menu h2 {
  font-size: 2.5em;
  line-height: 1.5;
  font-family: 'Tangerine', cursive, fantasy;
}
div.menu p {
  font-size: 1rem;
  line-height: 1.2;
  font-family: 'Castoro Titling', cursive, fantasy;
}
div.menu h3 {
  font-size: 1.7em;
  line-height: 1.2;
  font-family: 'Tangerine', cursive, fantasy;
}
/* Footer*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: #e2dfd2;
  text-align: center;
  font-size: 1em;
  padding: 0.5em;
}
a.creditLink {
  color: #e2dfd2;
  text-decoration: none;
  font-size: 0.8em;
}
a.creditLink:hover {
  color: #e2dfd2;
  text-decoration: underline;
}
/* Media Queries */
@media only screen and (max-width: 768px) and (min-width: 401px) {
  header {
    font-size: 2em;
  }
  nav {
    flex-direction: column;
  }
  .nav-button {
    flex: none;
    width: 100%;
    margin: 0 0.5em;
    font-size: 1.2em;
  }
  div.home {
    width: 90%;
  }
  div.home h2 {
    font-size: 2em;
  }
  div.home p {
    font-size: 0.8rem;
  }
  footer {
    font-size: 0.8em;
  }
}
